.main {
    height: 100vh;
}

.main-row {
    height: 100%;
}

.settings-container {
    height: 100%;
    overflow: hidden;
    background-color: #222222;
    box-shadow: inset -15px 0 9px -15px rgba(0,0,0,0.4);
}

.chat-container {
    height: 100%;
    overflow: hidden;
    background-color: #313131;
}

input {
    font-size: 20px;
    color: #629c59;
    border-image: linear-gradient(10deg, #a541ff, #3fbbfe) 5 !important;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    background: #fff;
    padding: 5px 10px;
    border: solid 2px #629c59;
}

.answer-bubble {
    font-size: 15px;
    padding: 10px 15px;
    color: #cccccc;
    background-color: #222222;
     border-radius: 10px; /*1*/
    border-image: linear-gradient(10deg, #a541ff, #3fbbfe) 10;
    border-width: 4px;
    border-style: solid;
    float: left;
    width: 100%;

}

.question-bubble {
    font-size: 15px;
    padding: 10px 15px;
    color: #cccccc;
    background-color: #222222;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    float: left;
    width: 100%;
}

.loading {
    color: white;
    margin-left: 20px;
    display: none;
}
